[Desktop Entry]
Name=
Exec=
Terminal=false
Type=Application
Icon=~/.local/share/plank/themes/UbuntuOSXMavesemite/stretch_separator.svg
Name[ru_UA]=Separator
